In [27]:
from dotenv import load_dotenv

load_dotenv()

True

In [28]:
from langchain_community.utilities import SQLDatabase

db = SQLDatabase.from_uri("sqlite:///resources/Chinook.db")

In [29]:
from langchain.tools import tool

@tool
def sql_query(query: str) -> str:
    """
    Obtain information from the database using SQL queries
    """
    try:
        return db.run(query)
    except Exception as e:
        return f"Error: {e}"

sql_query.invoke("SELECT * FROM Artist LIMIT 10")

"[(1, 'AC/DC'), (2, 'Accept'), (3, 'Aerosmith'), (4, 'Alanis Morissette'), (5, 'Alice In Chains'), (6, 'Antônio Carlos Jobim'), (7, 'Apocalyptica'), (8, 'Audioslave'), (9, 'BackBeat'), (10, 'Billy Cobham')]"

In [30]:
from langchain.agents import create_agent

agent = create_agent(
    model="gpt-5-nano",
    tools=[sql_query]
)

In [31]:
from langchain.messages import HumanMessage

user_query = HumanMessage(
    content="Who is the most popular artist beginning with 'S' in this database?"
)

response = agent.invoke(
    {"messages": [user_query]}
)

In [32]:
from pprint import pprint

pprint(response)

{'messages': [HumanMessage(content="Who is the most popular artist beginning with 'S' in this database?", additional_kwargs={}, response_metadata={}, id='4b9585ae-baa5-4a93-a639-ff7d80af5aa4'),
              AIMessage(content='', additional_kwargs={'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 616, 'prompt_tokens': 142, 'total_tokens': 758, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 576, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_provider': 'openai', 'model_name': 'gpt-5-nano-2025-08-07', 'system_fingerprint': None, 'id': 'chatcmpl-CtdEL8yUVO7ej8glupnLX2BM6YK8Z', 'service_tier': 'default', 'finish_reason': 'tool_calls', 'logprobs': None}, id='lc_run--019b7fc0-7259-7133-a623-d108b6921d44-0', tool_calls=[{'name': 'sql_query', 'args': {'query': "SELECT name FROM artists WHERE name LIKE 'S%' ORDER BY popularity DESC LIMIT 1;"}, 'id': 'call_xeQ6ZbUAjfXGYKUlbjl5KvQS', 'type': 'tool_call'}], usage_metadata={'input_tokens': 142, 'output_tokens': 616, 'total_tokens': 758, 'input_token_details': {'audio': 0, 'cache_read': 0}, 'output_token_details': {'audio': 0, 'reasoning': 576}}),
              ToolMessage(content="Error: (sqlite3.OperationalError) no such table: artists\n[SQL: SELECT name FROM artists WHERE name LIKE 'S%' ORDER BY popularity DESC LIMIT 1;]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)", name='sql_query', id='c3cf298f-ead5-4b33-b321-c42422c6cdaa', tool_call_id='call_xeQ6ZbUAjfXGYKUlbjl5KvQS'),
              AIMessage(content='', additional_kwargs={'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 296, 'prompt_tokens': 245, 'total_tokens': 541, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 256, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_provider': 'openai', 'model_name': 'gpt-5-nano-2025-08-07', 'system_fingerprint': None, 'id': 'chatcmpl-CtdEReh2nRpm6D6DJUh5ZpkwmhyXe', 'service_tier': 'default', 'finish_reason': 'tool_calls', 'logprobs': None}, id='lc_run--019b7fc0-8ab5-7443-b9b9-748f9a7e86a8-0', tool_calls=[{'name': 'sql_query', 'args': {'query': "SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%';"}, 'id': 'call_bNGP2qPe6HtcmU6KlHMyPw7z', 'type': 'tool_call'}], usage_metadata={'input_tokens': 245, 'output_tokens': 296, 'total_tokens': 541, 'input_token_details': {'audio': 0, 'cache_read': 0}, 'output_token_details': {'audio': 0, 'reasoning': 256}}),
              ToolMessage(content="[('Album',), ('Artist',), ('Customer',), ('Employee',), ('Genre',), ('Invoice',), ('InvoiceLine',), ('MediaType',), ('Playlist',), ('PlaylistTrack',), ('Track',)]", name='sql_query', id='3f2d787e-879f-4b28-8603-23e7db7a9cdc', tool_call_id='call_bNGP2qPe6HtcmU6KlHMyPw7z'),
              AIMessage(content='', additional_kwargs={'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 1278, 'prompt_tokens': 338, 'total_tokens': 1616, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 1152, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_provider': 'openai', 'model_name': 'gpt-5-nano-2025-08-07', 'system_fingerprint': None, 'id': 'chatcmpl-CtdEUX1VEaFI4QEPtp1lHNHaPfdm2', 'service_tier': 'default', 'finish_reason': 'tool_calls', 'logprobs': None}, id='lc_run--019b7fc0-95f3-72a0-904a-ec14e2fccfab-0', tool_calls=[{'name': 'sql_query', 'args': {'query': 'PRAGMA table_info(Artist);'}, 'id': 'call_yEWteesnpCJ5NSb9zn71XjLf', 'type': 'tool_call'}, {'name': 'sql_query', 'args': {'query': 'PRAGMA table_info(Album);'}, 'id': 'call_VpbvjA58PVDy5OzhRCC9jpta', 'type': 'tool_call'}, {'name': 'sql_query', 'args': {'query': 'PRAGMA table_info(Track);'}, 'id': 'call_MwYgQEtYzGOQYZ7BULPv6cmX', 'type': 'tool_call'}, {'name': 'sql_query', 'args': {'query': 'PRAGMA table_info(InvoiceLine);'}, 'id': 'call_de99xXjodSExsRkUHpZ49CB8', 'type': 'tool_call'}, {'name': 'sql_query', 'args': {'query': 'PRAGMA table_info(Invoice);'}, 'id': 'call_47XmhW1g0FKDcbu0Szthom3n', 'type': 'tool_call'}], usage_metadata={'input_tokens': 338, 'output_tokens': 1278, 'total_tokens': 1616, 'input_token_details': {'audio': 0, 'cache_read': 0}, 'output_token_details': {'audio': 0, 'reasoning': 1152}}),
              ToolMessage(content="[(0, 'ArtistId', 'INTEGER', 1, None, 1), (1, 'Name', 'NVARCHAR(120)', 0, None, 0)]", name='sql_query', id='431f5a27-c443-469a-aa4c-eb3cff69f236', tool_call_id='call_yEWteesnpCJ5NSb9zn71XjLf'),
              ToolMessage(content="[(0, 'AlbumId', 'INTEGER', 1, None, 1), (1, 'Title', 'NVARCHAR(160)', 1, None, 0), (2, 'ArtistId', 'INTEGER', 1, None, 0)]", name='sql_query', id='12891af3-38bb-4e12-bbe9-422e2f262124', tool_call_id='call_VpbvjA58PVDy5OzhRCC9jpta'),
              ToolMessage(content="[(0, 'TrackId', 'INTEGER', 1, None, 1), (1, 'Name', 'NVARCHAR(200)', 1, None, 0), (2, 'AlbumId', 'INTEGER', 0, None, 0), (3, 'MediaTypeId', 'INTEGER', 1, None, 0), (4, 'GenreId', 'INTEGER', 0, None, 0), (5, 'Composer', 'NVARCHAR(220)', 0, None, 0), (6, 'Milliseconds', 'INTEGER', 1, None, 0), (7, 'Bytes', 'INTEGER', 0, None, 0), (8, 'UnitPrice', 'NUMERIC(10,2)', 1, None, 0)]", name='sql_query', id='6a988621-0118-4810-a67a-476b5d113b7e', tool_call_id='call_MwYgQEtYzGOQYZ7BULPv6cmX'),
              ToolMessage(content="[(0, 'InvoiceLineId', 'INTEGER', 1, None, 1), (1, 'InvoiceId', 'INTEGER', 1, None, 0), (2, 'TrackId', 'INTEGER', 1, None, 0), (3, 'UnitPrice', 'NUMERIC(10,2)', 1, None, 0), (4, 'Quantity', 'INTEGER', 1, None, 0)]", name='sql_query', id='f4b31464-fb1a-44d2-8ae9-023255c274b1', tool_call_id='call_de99xXjodSExsRkUHpZ49CB8'),
              ToolMessage(content="[(0, 'InvoiceId', 'INTEGER', 1, None, 1), (1, 'CustomerId', 'INTEGER', 1, None, 0), (2, 'InvoiceDate', 'DATETIME', 1, None, 0), (3, 'BillingAddress', 'NVARCHAR(70)', 0, None, 0), (4, 'BillingCity', 'NVARCHAR(40)', 0, None, 0), (5, 'BillingState', 'NVARCHAR(40)', 0, None, 0), (6, 'BillingCountry', 'NVARCHAR(40)', 0, None, 0), (7, 'BillingPostalCode', 'NVARCHAR(10)', 0, None, 0), (8, 'Total', 'NUMERIC(10,2)', 1, None, 0)]", name='sql_query', id='569812ed-d6d1-415c-91ce-55b0fbd1d542', tool_call_id='call_47XmhW1g0FKDcbu0Szthom3n'),
              AIMessage(content='', additional_kwargs={'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 923, 'prompt_tokens': 1023, 'total_tokens': 1946, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 832, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_provider': 'openai', 'model_name': 'gpt-5-nano-2025-08-07', 'system_fingerprint': None, 'id': 'chatcmpl-CtdEeXOMZsuPb02unhjUH42e8tqRb', 'service_tier': 'default', 'finish_reason': 'tool_calls', 'logprobs': None}, id='lc_run--019b7fc0-bd91-75b2-bd81-b7afad36f2cb-0', tool_calls=[{'name': 'sql_query', 'args': {'query': "SELECT a.Name, SUM(il.Quantity * il.UnitPrice) AS Revenue\nFROM Artist a\nJOIN Track t ON t.ArtistId = a.ArtistId\nJOIN InvoiceLine il ON il.TrackId = t.TrackId\nWHERE a.Name LIKE 'S%'\nGROUP BY a.Name\nORDER BY Revenue DESC\nLIMIT 1;"}, 'id': 'call_zhL6sxyAoijMcpW2Jqz3iRKS', 'type': 'tool_call'}], usage_metadata={'input_tokens': 1023, 'output_tokens': 923, 'total_tokens': 1946, 'input_token_details': {'audio': 0, 'cache_read': 0}, 'output_token_details': {'audio': 0, 'reasoning': 832}}),
              ToolMessage(content="Error: (sqlite3.OperationalError) no such column: t.ArtistId\n[SQL: SELECT a.Name, SUM(il.Quantity * il.UnitPrice) AS Revenue\nFROM Artist a\nJOIN Track t ON t.ArtistId = a.ArtistId\nJOIN InvoiceLine il ON il.TrackId = t.TrackId\nWHERE a.Name LIKE 'S%'\nGROUP BY a.Name\nORDER BY Revenue DESC\nLIMIT 1;]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)", name='sql_query', id='72db7e9c-9e9c-43d8-9587-9e73e7571ff0', tool_call_id='call_zhL6sxyAoijMcpW2Jqz3iRKS'),
              AIMessage(content='', additional_kwargs={'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 24, 'prompt_tokens': 1229, 'total_tokens': 1253, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 0, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_provider': 'openai', 'model_name': 'gpt-5-nano-2025-08-07', 'system_fingerprint': None, 'id': 'chatcmpl-CtdElMofRJnC9gnm6F6hOc2NyOKBr', 'service_tier': 'default', 'finish_reason': 'tool_calls', 'logprobs': None}, id='lc_run--019b7fc0-d771-7f83-a5e5-062dcdaead1c-0', tool_calls=[{'name': 'sql_query', 'args': {'query': 'PRAGMA foreign_key_list(Track);'}, 'id': 'call_TytWwI1a4TPsUyRTMvZcLnkS', 'type': 'tool_call'}], usage_metadata={'input_tokens': 1229, 'output_tokens': 24, 'total_tokens': 1253, 'input_token_details': {'audio': 0, 'cache_read': 0}, 'output_token_details': {'audio': 0, 'reasoning': 0}}),
              ToolMessage(content="[(0, 0, 'MediaType', 'MediaTypeId', 'MediaTypeId', 'NO ACTION', 'NO ACTION', 'NONE'), (1, 0, 'Genre', 'GenreId', 'GenreId', 'NO ACTION', 'NO ACTION', 'NONE'), (2, 0, 'Album', 'AlbumId', 'AlbumId', 'NO ACTION', 'NO ACTION', 'NONE')]", name='sql_query', id='229696f5-04a5-42b3-bd68-058fa9f42d3f', tool_call_id='call_TytWwI1a4TPsUyRTMvZcLnkS'),
              AIMessage(content='', additional_kwargs={'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 23, 'prompt_tokens': 1351, 'total_tokens': 1374, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 0, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_provider': 'openai', 'model_name': 'gpt-5-nano-2025-08-07', 'system_fingerprint': None, 'id': 'chatcmpl-CtdEm5M5Ul5BODX8y2KY4snt6vfDF', 'service_tier': 'default', 'finish_reason': 'tool_calls', 'logprobs': None}, id='lc_run--019b7fc0-dd92-7bc1-9d43-4f68aa200e3d-0', tool_calls=[{'name': 'sql_query', 'args': {'query': 'PRAGMA table_info(Track);'}, 'id': 'call_tO5ynbZX8wIjXINgKjbzdXqN', 'type': 'tool_call'}], usage_metadata={'input_tokens': 1351, 'output_tokens': 23, 'total_tokens': 1374, 'input_token_details': {'audio': 0, 'cache_read': 0}, 'output_token_details': {'audio': 0, 'reasoning': 0}}),
              ToolMessage(content="[(0, 'TrackId', 'INTEGER', 1, None, 1), (1, 'Name', 'NVARCHAR(200)', 1, None, 0), (2, 'AlbumId', 'INTEGER', 0, None, 0), (3, 'MediaTypeId', 'INTEGER', 1, None, 0), (4, 'GenreId', 'INTEGER', 0, None, 0), (5, 'Composer', 'NVARCHAR(220)', 0, None, 0), (6, 'Milliseconds', 'INTEGER', 1, None, 0), (7, 'Bytes', 'INTEGER', 0, None, 0), (8, 'UnitPrice', 'NUMERIC(10,2)', 1, None, 0)]", name='sql_query', id='bc6ea3a4-9025-4b93-ab7a-e25d395056e1', tool_call_id='call_tO5ynbZX8wIjXINgKjbzdXqN'),
              AIMessage(content='', additional_kwargs={'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 98, 'prompt_tokens': 1555, 'total_tokens': 1653, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 0, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 1152}}, 'model_provider': 'openai', 'model_name': 'gpt-5-nano-2025-08-07', 'system_fingerprint': None, 'id': 'chatcmpl-CtdEnsklA8l5qQV8FRCau2Ncwrdip', 'service_tier': 'default', 'finish_reason': 'tool_calls', 'logprobs': None}, id='lc_run--019b7fc0-e124-70e2-a19d-b17ea5406f4b-0', tool_calls=[{'name': 'sql_query', 'args': {'query': "SELECT a.Name, SUM(il.Quantity * il.UnitPrice) AS Revenue\nFROM Artist a\nJOIN Track t ON t.AlbumId IN (SELECT AlbumId FROM Album WHERE Album.ArtistId = a.ArtistId)\nJOIN InvoiceLine il ON il.TrackId = t.TrackId\nWHERE a.Name LIKE 'S%'\nGROUP BY a.Name\nORDER BY Revenue DESC\nLIMIT 1;"}, 'id': 'call_kktADDJcSMBshVzm3nJ6OKbK', 'type': 'tool_call'}], usage_metadata={'input_tokens': 1555, 'output_tokens': 98, 'total_tokens': 1653, 'input_token_details': {'audio': 0, 'cache_read': 1152}, 'output_token_details': {'audio': 0, 'reasoning': 0}}),
              ToolMessage(content="[('Smashing Pumpkins', 23.759999999999998)]", name='sql_query', id='3aa4d432-bfd5-4095-8ce1-b78e7b93bb11', tool_call_id='call_kktADDJcSMBshVzm3nJ6OKbK'),
              AIMessage(content='Smashing Pumpkins — the top artist starting with S, with total revenue around 23.76 in the dataset.', additional_kwargs={'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 353, 'prompt_tokens': 1680, 'total_tokens': 2033, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 320, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 1024}}, 'model_provider': 'openai', 'model_name': 'gpt-5-nano-2025-08-07', 'system_fingerprint': None, 'id': 'chatcmpl-CtdEpA7C9R80rX7uoYIyoCugS5fW6', 'service_tier': 'default', 'finish_reason': 'stop', 'logprobs': None}, id='lc_run--019b7fc0-e5f5-76e0-8785-58dd368a4fec-0', usage_metadata={'input_tokens': 1680, 'output_tokens': 353, 'total_tokens': 2033, 'input_token_details': {'audio': 0, 'cache_read': 1024}, 'output_token_details': {'audio': 0, 'reasoning': 320}})]}

In [33]:
print(response["messages"][-3].tool_calls[0]["args"]["query"])

SELECT a.Name, SUM(il.Quantity * il.UnitPrice) AS Revenue
FROM Artist a
JOIN Track t ON t.AlbumId IN (SELECT AlbumId FROM Album WHERE Album.ArtistId = a.ArtistId)
JOIN InvoiceLine il ON il.TrackId = t.TrackId
WHERE a.Name LIKE 'S%'
GROUP BY a.Name
ORDER BY Revenue DESC
LIMIT 1;

https://smith.langchain.com/public/f1cc341e-d78b-4e0d-bcd2-798cd3271435/r

## Improved method by providing DB Schema as Context to Agent

In [34]:
from dataclasses import dataclass
from langchain_community.utilities import SQLDatabase
from langchain.tools import tool, ToolRuntime
from langchain.agents import create_agent
from langchain.messages import HumanMessage, SystemMessage

DB_URI = "sqlite:///resources/Chinook.db"

@dataclass
class SQLContext:
    db: SQLDatabase
    schema: str # one-time snapshot


def build_sql_context(db_uri: str) -> SQLContext:
    db = SQLDatabase.from_uri(db_uri)
    schema = db.get_table_info() # one-time schema capture
    return SQLContext(db=db, schema=schema)

ctx = build_sql_context(DB_URI)

In [35]:
pprint(ctx)

SQLContext(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x11554fbc0>,
           schema='\n'
                  'CREATE TABLE "Album" (\n'
                  '\t"AlbumId" INTEGER NOT NULL, \n'
                  '\t"Title" NVARCHAR(160) NOT NULL, \n'
                  '\t"ArtistId" INTEGER NOT NULL, \n'
                  '\tPRIMARY KEY ("AlbumId"), \n'
                  '\tFOREIGN KEY("ArtistId") REFERENCES "Artist" ("ArtistId")\n'
                  ')\n'
                  '\n'
                  '/*\n'
                  '3 rows from Album table:\n'
                  'AlbumId\tTitle\tArtistId\n'
                  '1\tFor Those About To Rock We Salute You\t1\n'
                  '2\tBalls to the Wall\t2\n'
                  '3\tRestless and Wild\t2\n'
                  '*/\n'
                  '\n'
                  '\n'
                  'CREATE TABLE "Artist" (\n'
                  '\t"ArtistId" INTEGER NOT NULL, \n'
                  '\t"Name" NVARCHAR(120), \n'
                  '\tPRIMARY KEY ("ArtistId")\n'
                  ')\n'
                  '\n'
                  '/*\n'
                  '3 rows from Artist table:\n'
                  'ArtistId\tName\n'
                  '1\tAC/DC\n'
                  '2\tAccept\n'
                  '3\tAerosmith\n'
                  '*/\n'
                  '\n'
                  '\n'
                  'CREATE TABLE "Customer" (\n'
                  '\t"CustomerId" INTEGER NOT NULL, \n'
                  '\t"FirstName" NVARCHAR(40) NOT NULL, \n'
                  '\t"LastName" NVARCHAR(20) NOT NULL, \n'
                  '\t"Company" NVARCHAR(80), \n'
                  '\t"Address" NVARCHAR(70), \n'
                  '\t"City" NVARCHAR(40), \n'
                  '\t"State" NVARCHAR(40), \n'
                  '\t"Country" NVARCHAR(40), \n'
                  '\t"PostalCode" NVARCHAR(10), \n'
                  '\t"Phone" NVARCHAR(24), \n'
                  '\t"Fax" NVARCHAR(24), \n'
                  '\t"Email" NVARCHAR(60) NOT NULL, \n'
                  '\t"SupportRepId" INTEGER, \n'
                  '\tPRIMARY KEY ("CustomerId"), \n'
                  '\tFOREIGN KEY("SupportRepId") REFERENCES "Employee" '
                  '("EmployeeId")\n'
                  ')\n'
                  '\n'
                  '/*\n'
                  '3 rows from Customer table:\n'
                  'CustomerId\tFirstName\tLastName\tCompany\tAddress\tCity\t'
                  'State\tCountry\tPostalCode\tPhone\tFax\tEmail\t'
                  'SupportRepId\n'
                  '1\tLuís\tGonçalves\tEmbraer - Empresa Brasileira de '
                  'Aeronáutica S.A.\tAv. Brigadeiro Faria Lima, 2170\tSão José '
                  'dos Campos\tSP\tBrazil\t12227-000\t+55 (12) 3923-5555\t+55 '
                  '(12) 3923-5566\tluisg@embraer.com.br\t3\n'
                  '2\tLeonie\tKöhler\tNone\tTheodor-Heuss-Straße 34\t'
                  'Stuttgart\tNone\tGermany\t70174\t+49 0711 2842222\tNone\t'
                  'leonekohler@surfeu.de\t5\n'
                  '3\tFrançois\tTremblay\tNone\t1498 rue Bélanger\tMontréal\t'
                  'QC\tCanada\tH2G 1A7\t+1 (514) 721-4711\tNone\t'
                  'ftremblay@gmail.com\t3\n'
                  '*/\n'
                  '\n'
                  '\n'
                  'CREATE TABLE "Employee" (\n'
                  '\t"EmployeeId" INTEGER NOT NULL, \n'
                  '\t"LastName" NVARCHAR(20) NOT NULL, \n'
                  '\t"FirstName" NVARCHAR(20) NOT NULL, \n'
                  '\t"Title" NVARCHAR(30), \n'
                  '\t"ReportsTo" INTEGER, \n'
                  '\t"BirthDate" DATETIME, \n'
                  '\t"HireDate" DATETIME, \n'
                  '\t"Address" NVARCHAR(70), \n'
                  '\t"City" NVARCHAR(40), \n'
                  '\t"State" NVARCHAR(40), \n'
                  '\t"Country" NVARCHAR(40), \n'
                  '\t"PostalCode" NVARCHAR(10), \n'
                  '\t"Phone" NVARCHAR(24), \n'
                  '\t"Fax" NVARCHAR(24), \n'
                  '\t"Email" NVARCHAR(60), \n'
                  '\tPRIMARY KEY ("EmployeeId"), \n'
                  '\tFOREIGN KEY("ReportsTo") REFERENCES "Employee" '
                  '("EmployeeId")\n'
                  ')\n'
                  '\n'
                  '/*\n'
                  '3 rows from Employee table:\n'
                  'EmployeeId\tLastName\tFirstName\tTitle\tReportsTo\t'
                  'BirthDate\tHireDate\tAddress\tCity\tState\tCountry\t'
                  'PostalCode\tPhone\tFax\tEmail\n'
                  '1\tAdams\tAndrew\tGeneral Manager\tNone\t1962-02-18 '
                  '00:00:00\t2002-08-14 00:00:00\t11120 Jasper Ave NW\t'
                  'Edmonton\tAB\tCanada\tT5K 2N1\t+1 (780) 428-9482\t+1 (780) '
                  '428-3457\tandrew@chinookcorp.com\n'
                  '2\tEdwards\tNancy\tSales Manager\t1\t1958-12-08 00:00:00\t'
                  '2002-05-01 00:00:00\t825 8 Ave SW\tCalgary\tAB\tCanada\tT2P '
                  '2T3\t+1 (403) 262-3443\t+1 (403) 262-3322\t'
                  'nancy@chinookcorp.com\n'
                  '3\tPeacock\tJane\tSales Support Agent\t2\t1973-08-29 '
                  '00:00:00\t2002-04-01 00:00:00\t1111 6 Ave SW\tCalgary\tAB\t'
                  'Canada\tT2P 5M5\t+1 (403) 262-3443\t+1 (403) 262-6712\t'
                  'jane@chinookcorp.com\n'
                  '*/\n'
                  '\n'
                  '\n'
                  'CREATE TABLE "Genre" (\n'
                  '\t"GenreId" INTEGER NOT NULL, \n'
                  '\t"Name" NVARCHAR(120), \n'
                  '\tPRIMARY KEY ("GenreId")\n'
                  ')\n'
                  '\n'
                  '/*\n'
                  '3 rows from Genre table:\n'
                  'GenreId\tName\n'
                  '1\tRock\n'
                  '2\tJazz\n'
                  '3\tMetal\n'
                  '*/\n'
                  '\n'
                  '\n'
                  'CREATE TABLE "Invoice" (\n'
                  '\t"InvoiceId" INTEGER NOT NULL, \n'
                  '\t"CustomerId" INTEGER NOT NULL, \n'
                  '\t"InvoiceDate" DATETIME NOT NULL, \n'
                  '\t"BillingAddress" NVARCHAR(70), \n'
                  '\t"BillingCity" NVARCHAR(40), \n'
                  '\t"BillingState" NVARCHAR(40), \n'
                  '\t"BillingCountry" NVARCHAR(40), \n'
                  '\t"BillingPostalCode" NVARCHAR(10), \n'
                  '\t"Total" NUMERIC(10, 2) NOT NULL, \n'
                  '\tPRIMARY KEY ("InvoiceId"), \n'
                  '\tFOREIGN KEY("CustomerId") REFERENCES "Customer" '
                  '("CustomerId")\n'
                  ')\n'
                  '\n'
                  '/*\n'
                  '3 rows from Invoice table:\n'
                  'InvoiceId\tCustomerId\tInvoiceDate\tBillingAddress\t'
                  'BillingCity\tBillingState\tBillingCountry\t'
                  'BillingPostalCode\tTotal\n'
                  '1\t2\t2009-01-01 00:00:00\tTheodor-Heuss-Straße 34\t'
                  'Stuttgart\tNone\tGermany\t70174\t1.98\n'
                  '2\t4\t2009-01-02 00:00:00\tUllevålsveien 14\tOslo\tNone\t'
                  'Norway\t0171\t3.96\n'
                  '3\t8\t2009-01-03 00:00:00\tGrétrystraat 63\tBrussels\tNone\t'
                  'Belgium\t1000\t5.94\n'
                  '*/\n'
                  '\n'
                  '\n'
                  'CREATE TABLE "InvoiceLine" (\n'
                  '\t"InvoiceLineId" INTEGER NOT NULL, \n'
                  '\t"InvoiceId" INTEGER NOT NULL, \n'
                  '\t"TrackId" INTEGER NOT NULL, \n'
                  '\t"UnitPrice" NUMERIC(10, 2) NOT NULL, \n'
                  '\t"Quantity" INTEGER NOT NULL, \n'
                  '\tPRIMARY KEY ("InvoiceLineId"), \n'
                  '\tFOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"), \n'
                  '\tFOREIGN KEY("InvoiceId") REFERENCES "Invoice" '
                  '("InvoiceId")\n'
                  ')\n'
                  '\n'
                  '/*\n'
                  '3 rows from InvoiceLine table:\n'
                  'InvoiceLineId\tInvoiceId\tTrackId\tUnitPrice\tQuantity\n'
                  '1\t1\t2\t0.99\t1\n'
                  '2\t1\t4\t0.99\t1\n'
                  '3\t2\t6\t0.99\t1\n'
                  '*/\n'
                  '\n'
                  '\n'
                  'CREATE TABLE "MediaType" (\n'
                  '\t"MediaTypeId" INTEGER NOT NULL, \n'
                  '\t"Name" NVARCHAR(120), \n'
                  '\tPRIMARY KEY ("MediaTypeId")\n'
                  ')\n'
                  '\n'
                  '/*\n'
                  '3 rows from MediaType table:\n'
                  'MediaTypeId\tName\n'
                  '1\tMPEG audio file\n'
                  '2\tProtected AAC audio file\n'
                  '3\tProtected MPEG-4 video file\n'
                  '*/\n'
                  '\n'
                  '\n'
                  'CREATE TABLE "Playlist" (\n'
                  '\t"PlaylistId" INTEGER NOT NULL, \n'
                  '\t"Name" NVARCHAR(120), \n'
                  '\tPRIMARY KEY ("PlaylistId")\n'
                  ')\n'
                  '\n'
                  '/*\n'
                  '3 rows from Playlist table:\n'
                  'PlaylistId\tName\n'
                  '1\tMusic\n'
                  '2\tMovies\n'
                  '3\tTV Shows\n'
                  '*/\n'
                  '\n'
                  '\n'
                  'CREATE TABLE "PlaylistTrack" (\n'
                  '\t"PlaylistId" INTEGER NOT NULL, \n'
                  '\t"TrackId" INTEGER NOT NULL, \n'
                  '\tPRIMARY KEY ("PlaylistId", "TrackId"), \n'
                  '\tFOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"), \n'
                  '\tFOREIGN KEY("PlaylistId") REFERENCES "Playlist" '
                  '("PlaylistId")\n'
                  ')\n'
                  '\n'
                  '/*\n'
                  '3 rows from PlaylistTrack table:\n'
                  'PlaylistId\tTrackId\n'
                  '1\t3402\n'
                  '1\t3389\n'
                  '1\t3390\n'
                  '*/\n'
                  '\n'
                  '\n'
                  'CREATE TABLE "Track" (\n'
                  '\t"TrackId" INTEGER NOT NULL, \n'
                  '\t"Name" NVARCHAR(200) NOT NULL, \n'
                  '\t"AlbumId" INTEGER, \n'
                  '\t"MediaTypeId" INTEGER NOT NULL, \n'
                  '\t"GenreId" INTEGER, \n'
                  '\t"Composer" NVARCHAR(220), \n'
                  '\t"Milliseconds" INTEGER NOT NULL, \n'
                  '\t"Bytes" INTEGER, \n'
                  '\t"UnitPrice" NUMERIC(10, 2) NOT NULL, \n'
                  '\tPRIMARY KEY ("TrackId"), \n'
                  '\tFOREIGN KEY("MediaTypeId") REFERENCES "MediaType" '
                  '("MediaTypeId"), \n'
                  '\tFOREIGN KEY("GenreId") REFERENCES "Genre" ("GenreId"), \n'
                  '\tFOREIGN KEY("AlbumId") REFERENCES "Album" ("AlbumId")\n'
                  ')\n'
                  '\n'
                  '/*\n'
                  '3 rows from Track table:\n'
                  'TrackId\tName\tAlbumId\tMediaTypeId\tGenreId\tComposer\t'
                  'Milliseconds\tBytes\tUnitPrice\n'
                  '1\tFor Those About To Rock (We Salute You)\t1\t1\t1\tAngus '
                  'Young, Malcolm Young, Brian Johnson\t343719\t11170334\t'
                  '0.99\n'
                  '2\tBalls to the Wall\t2\t2\t1\tNone\t342562\t5510424\t0.99\n'
                  '3\tFast As a Shark\t3\t2\t1\tF. Baltes, S. Kaufman, U. '
                  'Dirkscneider & W. Hoffman\t230619\t3990994\t0.99\n'
                  '*/')

In [36]:
@tool
def get_db_schema(runtime: ToolRuntime) -> str:
    """
    Get the database schema (one-time snapshot)
    """
    return runtime.context.schema


@tool
def sql_query(runtime: ToolRuntime, query: str) -> str:
    """
    Run a SQL query against the database
    """
    try:
        return runtime.context.db.run(query)
    except Exception as e:
        return f"Error: {e}"

In [37]:
system_prompt = SystemMessage(
    content=(
        "You are a SQL assistant. Always called `get_db_schema` before writing SQL, "
        "and use only tables/columns that appear there."
    )
)


agent = create_agent(
    model="gpt-5-nano",
    tools=[get_db_schema, sql_query],
    context_schema=SQLContext,
    system_prompt=system_prompt
)

In [38]:
user_query = HumanMessage(
    content="Who is the most popular artist beginning with 'S'?"
)

response = agent.invoke(
    {"messages": [user_query]},
    context=ctx
)

/Users/johnmachado/Desktop/LangChain 1.0 Foundations/env/lib/python3.12/site-packages/pydantic/main.py:464: UserWarning: Pydantic serializer warnings:
  PydanticSerializationUnexpectedValue(Expected `none` - serialized value may not be as expected [field_name='context', input_value=SQLContext(db=<langchain_...619\t3990994\t0.99\n*/'), input_type=SQLContext])
  return self.__pydantic_serializer__.to_python(
/Users/johnmachado/Desktop/LangChain 1.0 Foundations/env/lib/python3.12/site-packages/pydantic/main.py:464: UserWarning: Pydantic serializer warnings:
  PydanticSerializationUnexpectedValue(Expected `none` - serialized value may not be as expected [field_name='context', input_value=SQLContext(db=<langchain_...619\t3990994\t0.99\n*/'), input_type=SQLContext])
  return self.__pydantic_serializer__.to_python(

In [39]:
pprint(response)

{'messages': [HumanMessage(content="Who is the most popular artist beginning with 'S'?", additional_kwargs={}, response_metadata={}, id='16443494-c044-4e06-a8e3-ed45e07f736e'),
              AIMessage(content='', additional_kwargs={'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 276, 'prompt_tokens': 185, 'total_tokens': 461, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 256, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_provider': 'openai', 'model_name': 'gpt-5-nano-2025-08-07', 'system_fingerprint': None, 'id': 'chatcmpl-CtdEtXiQstRk5oBnzY0YSxJfBdMv0', 'service_tier': 'default', 'finish_reason': 'tool_calls', 'logprobs': None}, id='lc_run--019b7fc0-f388-7402-96a4-4c376956123c-0', tool_calls=[{'name': 'get_db_schema', 'args': {}, 'id': 'call_Ss5oCzYKE2dVQtOAhIydvdpg', 'type': 'tool_call'}], usage_metadata={'input_tokens': 185, 'output_tokens': 276, 'total_tokens': 461, 'input_token_details': {'audio': 0, 'cache_read': 0}, 'output_token_details': {'audio': 0, 'reasoning': 256}}),
              ToolMessage(content='\nCREATE TABLE "Album" (\n\t"AlbumId" INTEGER NOT NULL, \n\t"Title" NVARCHAR(160) NOT NULL, \n\t"ArtistId" INTEGER NOT NULL, \n\tPRIMARY KEY ("AlbumId"), \n\tFOREIGN KEY("ArtistId") REFERENCES "Artist" ("ArtistId")\n)\n\n/*\n3 rows from Album table:\nAlbumId\tTitle\tArtistId\n1\tFor Those About To Rock We Salute You\t1\n2\tBalls to the Wall\t2\n3\tRestless and Wild\t2\n*/\n\n\nCREATE TABLE "Artist" (\n\t"ArtistId" INTEGER NOT NULL, \n\t"Name" NVARCHAR(120), \n\tPRIMARY KEY ("ArtistId")\n)\n\n/*\n3 rows from Artist table:\nArtistId\tName\n1\tAC/DC\n2\tAccept\n3\tAerosmith\n*/\n\n\nCREATE TABLE "Customer" (\n\t"CustomerId" INTEGER NOT NULL, \n\t"FirstName" NVARCHAR(40) NOT NULL, \n\t"LastName" NVARCHAR(20) NOT NULL, \n\t"Company" NVARCHAR(80), \n\t"Address" NVARCHAR(70), \n\t"City" NVARCHAR(40), \n\t"State" NVARCHAR(40), \n\t"Country" NVARCHAR(40), \n\t"PostalCode" NVARCHAR(10), \n\t"Phone" NVARCHAR(24), \n\t"Fax" NVARCHAR(24), \n\t"Email" NVARCHAR(60) NOT NULL, \n\t"SupportRepId" INTEGER, \n\tPRIMARY KEY ("CustomerId"), \n\tFOREIGN KEY("SupportRepId") REFERENCES "Employee" ("EmployeeId")\n)\n\n/*\n3 rows from Customer table:\nCustomerId\tFirstName\tLastName\tCompany\tAddress\tCity\tState\tCountry\tPostalCode\tPhone\tFax\tEmail\tSupportRepId\n1\tLuís\tGonçalves\tEmbraer - Empresa Brasileira de Aeronáutica S.A.\tAv. Brigadeiro Faria Lima, 2170\tSão José dos Campos\tSP\tBrazil\t12227-000\t+55 (12) 3923-5555\t+55 (12) 3923-5566\tluisg@embraer.com.br\t3\n2\tLeonie\tKöhler\tNone\tTheodor-Heuss-Straße 34\tStuttgart\tNone\tGermany\t70174\t+49 0711 2842222\tNone\tleonekohler@surfeu.de\t5\n3\tFrançois\tTremblay\tNone\t1498 rue Bélanger\tMontréal\tQC\tCanada\tH2G 1A7\t+1 (514) 721-4711\tNone\tftremblay@gmail.com\t3\n*/\n\n\nCREATE TABLE "Employee" (\n\t"EmployeeId" INTEGER NOT NULL, \n\t"LastName" NVARCHAR(20) NOT NULL, \n\t"FirstName" NVARCHAR(20) NOT NULL, \n\t"Title" NVARCHAR(30), \n\t"ReportsTo" INTEGER, \n\t"BirthDate" DATETIME, \n\t"HireDate" DATETIME, \n\t"Address" NVARCHAR(70), \n\t"City" NVARCHAR(40), \n\t"State" NVARCHAR(40), \n\t"Country" NVARCHAR(40), \n\t"PostalCode" NVARCHAR(10), \n\t"Phone" NVARCHAR(24), \n\t"Fax" NVARCHAR(24), \n\t"Email" NVARCHAR(60), \n\tPRIMARY KEY ("EmployeeId"), \n\tFOREIGN KEY("ReportsTo") REFERENCES "Employee" ("EmployeeId")\n)\n\n/*\n3 rows from Employee table:\nEmployeeId\tLastName\tFirstName\tTitle\tReportsTo\tBirthDate\tHireDate\tAddress\tCity\tState\tCountry\tPostalCode\tPhone\tFax\tEmail\n1\tAdams\tAndrew\tGeneral Manager\tNone\t1962-02-18 00:00:00\t2002-08-14 00:00:00\t11120 Jasper Ave NW\tEdmonton\tAB\tCanada\tT5K 2N1\t+1 (780) 428-9482\t+1 (780) 428-3457\tandrew@chinookcorp.com\n2\tEdwards\tNancy\tSales Manager\t1\t1958-12-08 00:00:00\t2002-05-01 00:00:00\t825 8 Ave SW\tCalgary\tAB\tCanada\tT2P 2T3\t+1 (403) 262-3443\t+1 (403) 262-3322\tnancy@chinookcorp.com\n3\tPeacock\tJane\tSales Support Agent\t2\t1973-08-29 00:00:00\t2002-04-01 00:00:00\t1111 6 Ave SW\tCalgary\tAB\tCanada\tT2P 5M5\t+1 (403) 262-3443\t+1 (403) 262-6712\tjane@chinookcorp.com\n*/\n\n\nCREATE TABLE "Genre" (\n\t"GenreId" INTEGER NOT NULL, \n\t"Name" NVARCHAR(120), \n\tPRIMARY KEY ("GenreId")\n)\n\n/*\n3 rows from Genre table:\nGenreId\tName\n1\tRock\n2\tJazz\n3\tMetal\n*/\n\n\nCREATE TABLE "Invoice" (\n\t"InvoiceId" INTEGER NOT NULL, \n\t"CustomerId" INTEGER NOT NULL, \n\t"InvoiceDate" DATETIME NOT NULL, \n\t"BillingAddress" NVARCHAR(70), \n\t"BillingCity" NVARCHAR(40), \n\t"BillingState" NVARCHAR(40), \n\t"BillingCountry" NVARCHAR(40), \n\t"BillingPostalCode" NVARCHAR(10), \n\t"Total" NUMERIC(10, 2) NOT NULL, \n\tPRIMARY KEY ("InvoiceId"), \n\tFOREIGN KEY("CustomerId") REFERENCES "Customer" ("CustomerId")\n)\n\n/*\n3 rows from Invoice table:\nInvoiceId\tCustomerId\tInvoiceDate\tBillingAddress\tBillingCity\tBillingState\tBillingCountry\tBillingPostalCode\tTotal\n1\t2\t2009-01-01 00:00:00\tTheodor-Heuss-Straße 34\tStuttgart\tNone\tGermany\t70174\t1.98\n2\t4\t2009-01-02 00:00:00\tUllevålsveien 14\tOslo\tNone\tNorway\t0171\t3.96\n3\t8\t2009-01-03 00:00:00\tGrétrystraat 63\tBrussels\tNone\tBelgium\t1000\t5.94\n*/\n\n\nCREATE TABLE "InvoiceLine" (\n\t"InvoiceLineId" INTEGER NOT NULL, \n\t"InvoiceId" INTEGER NOT NULL, \n\t"TrackId" INTEGER NOT NULL, \n\t"UnitPrice" NUMERIC(10, 2) NOT NULL, \n\t"Quantity" INTEGER NOT NULL, \n\tPRIMARY KEY ("InvoiceLineId"), \n\tFOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"), \n\tFOREIGN KEY("InvoiceId") REFERENCES "Invoice" ("InvoiceId")\n)\n\n/*\n3 rows from InvoiceLine table:\nInvoiceLineId\tInvoiceId\tTrackId\tUnitPrice\tQuantity\n1\t1\t2\t0.99\t1\n2\t1\t4\t0.99\t1\n3\t2\t6\t0.99\t1\n*/\n\n\nCREATE TABLE "MediaType" (\n\t"MediaTypeId" INTEGER NOT NULL, \n\t"Name" NVARCHAR(120), \n\tPRIMARY KEY ("MediaTypeId")\n)\n\n/*\n3 rows from MediaType table:\nMediaTypeId\tName\n1\tMPEG audio file\n2\tProtected AAC audio file\n3\tProtected MPEG-4 video file\n*/\n\n\nCREATE TABLE "Playlist" (\n\t"PlaylistId" INTEGER NOT NULL, \n\t"Name" NVARCHAR(120), \n\tPRIMARY KEY ("PlaylistId")\n)\n\n/*\n3 rows from Playlist table:\nPlaylistId\tName\n1\tMusic\n2\tMovies\n3\tTV Shows\n*/\n\n\nCREATE TABLE "PlaylistTrack" (\n\t"PlaylistId" INTEGER NOT NULL, \n\t"TrackId" INTEGER NOT NULL, \n\tPRIMARY KEY ("PlaylistId", "TrackId"), \n\tFOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"), \n\tFOREIGN KEY("PlaylistId") REFERENCES "Playlist" ("PlaylistId")\n)\n\n/*\n3 rows from PlaylistTrack table:\nPlaylistId\tTrackId\n1\t3402\n1\t3389\n1\t3390\n*/\n\n\nCREATE TABLE "Track" (\n\t"TrackId" INTEGER NOT NULL, \n\t"Name" NVARCHAR(200) NOT NULL, \n\t"AlbumId" INTEGER, \n\t"MediaTypeId" INTEGER NOT NULL, \n\t"GenreId" INTEGER, \n\t"Composer" NVARCHAR(220), \n\t"Milliseconds" INTEGER NOT NULL, \n\t"Bytes" INTEGER, \n\t"UnitPrice" NUMERIC(10, 2) NOT NULL, \n\tPRIMARY KEY ("TrackId"), \n\tFOREIGN KEY("MediaTypeId") REFERENCES "MediaType" ("MediaTypeId"), \n\tFOREIGN KEY("GenreId") REFERENCES "Genre" ("GenreId"), \n\tFOREIGN KEY("AlbumId") REFERENCES "Album" ("AlbumId")\n)\n\n/*\n3 rows from Track table:\nTrackId\tName\tAlbumId\tMediaTypeId\tGenreId\tComposer\tMilliseconds\tBytes\tUnitPrice\n1\tFor Those About To Rock (We Salute You)\t1\t1\t1\tAngus Young, Malcolm Young, Brian Johnson\t343719\t11170334\t0.99\n2\tBalls to the Wall\t2\t2\t1\tNone\t342562\t5510424\t0.99\n3\tFast As a Shark\t3\t2\t1\tF. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman\t230619\t3990994\t0.99\n*/', name='get_db_schema', id='2da208f9-462c-4f7a-9596-4f91643a2b18', tool_call_id='call_Ss5oCzYKE2dVQtOAhIydvdpg'),
              AIMessage(content='', additional_kwargs={'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 819, 'prompt_tokens': 2329, 'total_tokens': 3148, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 704, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 0}}, 'model_provider': 'openai', 'model_name': 'gpt-5-nano-2025-08-07', 'system_fingerprint': None, 'id': 'chatcmpl-CtdEw9lPhDqBMG3gDgetoNplz9Egi', 'service_tier': 'default', 'finish_reason': 'tool_calls', 'logprobs': None}, id='lc_run--019b7fc1-0186-7de2-920a-2f2083ee121f-0', tool_calls=[{'name': 'sql_query', 'args': {'query': "SELECT a.Name AS ArtistName, SUM(il.Quantity) AS TotalQuantity\nFROM Artist a\nJOIN Album al ON al.ArtistId = a.ArtistId\nJOIN Track t ON t.AlbumId = al.AlbumId\nJOIN InvoiceLine il ON il.TrackId = t.TrackId\nWHERE UPPER(a.Name) LIKE 'S%'\nGROUP BY a.ArtistId, a.Name\nORDER BY TotalQuantity DESC\nLIMIT 1;"}, 'id': 'call_mKw2qFCcG9NEsgwABUp1OiLE', 'type': 'tool_call'}], usage_metadata={'input_tokens': 2329, 'output_tokens': 819, 'total_tokens': 3148, 'input_token_details': {'audio': 0, 'cache_read': 0}, 'output_token_details': {'audio': 0, 'reasoning': 704}}),
              ToolMessage(content="[('Smashing Pumpkins', 24)]", name='sql_query', id='e05e46f7-068a-4a1d-b212-cf0147721bda', tool_call_id='call_mKw2qFCcG9NEsgwABUp1OiLE'),
              AIMessage(content="Smashing Pumpkins — 24 units sold (most popular among artists whose name starts with 'S').", additional_kwargs={'refusal': None}, response_metadata={'token_usage': {'completion_tokens': 734, 'prompt_tokens': 2458, 'total_tokens': 3192, 'completion_tokens_details': {'accepted_prediction_tokens': 0, 'audio_tokens': 0, 'reasoning_tokens': 704, 'rejected_prediction_tokens': 0}, 'prompt_tokens_details': {'audio_tokens': 0, 'cached_tokens': 2176}}, 'model_provider': 'openai', 'model_name': 'gpt-5-nano-2025-08-07', 'system_fingerprint': None, 'id': 'chatcmpl-CtdF23IOvC2iDPYSqkfRYa22f3bbh', 'service_tier': 'default', 'finish_reason': 'stop', 'logprobs': None}, id='lc_run--019b7fc1-1aef-7171-97b9-813c31abd213-0', usage_metadata={'input_tokens': 2458, 'output_tokens': 734, 'total_tokens': 3192, 'input_token_details': {'audio': 0, 'cache_read': 2176}, 'output_token_details': {'audio': 0, 'reasoning': 704}})]}

https://smith.langchain.com/public/478a4f27-5ae3-4c1e-b17f-90ea5892dd4a/r

Before Providing Schema to LLM:

- 11 SQL queries
- 32 seconds to get final answer


After Providing Schema to LLM:

- 1 SQL query
- 16 seconds to get final answer